<div class="row clearfix">

<% @todo_items.each do |todo_item| %>
<div class="todo_item">
            <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike>
            </p>
        </div>

    </div>

<% end %>



