<h1 class="todo_list_title pd-1">Editing Todo List</h1>

<div class="user_form wd-1">
<%= render 'form', todo_list: @todo_list %>
</div>

<div class="list_header_links">
<%= link_to 'Cancel', user_path %>
</div>