
<% if logged_in? %>

    <div class="login">
     <%= link_to "Log out", logout_path, method: :delete %>
    </div>

<% else %>
    <div class="login">
    <%= link_to "Existing account? — click here", login_path %> 
    </div>
<% end %>